@import "tailwindcss";
@import "./fonts.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-mono: "Geist Mono", monospace;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-mono);
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}
@layer utilities {
	@media (max-width: 1023px) {
		.px-\[160px\] {
			padding-left: 1rem !important;
			padding-right: 1rem !important;
		}
	}
}
