version: "3.8"

services:
  db:
    image: mysql:8.0   
    container_name: mysql-local  
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root  
      MYSQL_DATABASE: my_shop  
    ports:
      - "3306:3306"  
    volumes:
      - db_data:/var/lib/mysql  

volumes:
  db_data:
